DISCORD_TOKEN=
MONGO_TOKEN=
GIPHY_TOKEN=
WEBHOOK_ID=
WEBHOOK_TOKEN=
DISCORD_ID=

# Not neccessary variables
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=731ac5bf0603411f80ac446f5c02e290
SPOTIFY_CLIENT_SECRET=cd16a34c385b4fa5915abd596fd4e480
LAVALINK_HOST=node01.marshalxp.xyz
LAVALINK_PASSWORD="marshal"
LAVALINK_PORT=443
LAVALINK_SECURE = true
OPENAI=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
